html, body {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("http://www.gps.gov/multimedia/images/constellation.jpg");
}

#navbar {
    background: #e7e7e7;
}
li a {
    color: black;
}
#map {
    width: 800px;
    height: 600px;
    margin: auto;
}

.container {
    margin-top: 60px;
}
.container-fluid {

}
.boutton {
    margin-top: 30px;
}
.footer {
    margin-top: 50px;
    background: #e7e7e7;
    height: 128px;

}
.paraFooter {
    margin-top: 55px;
    color: black;
}
#floating-panel {
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 5px;
}
.form-group {
    margin-top: 20px;
}